html{
  font-size: 12px;
}

.App{
  width: 100%;
  display: flex;
  justify-content: center;
}

footer{
  background-color: #000;
  position: fixed;
  bottom:0;
  width: 100%;
  display: flex;
  height: 5em;
}

#addButton{
  font-size: 2em;
  color: #FFF;
  background-color: #000;
  border: #CCC 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  font-weight: bold;
  font-style: normal;
}

#addButton{
  cursor: pointer;
}

#save-load-container{
  color:#FFF;
  height: 100%;
  margin-left: 2em;
  display: flex;
  align-items: center;
}

#save-load-container span{
  margin: 0 1em ;
}