.flip-card-icon{
    right: -1em;
    top: 3px;
}

.icons{
    width: 3rem;
    height: 3rem;
    position: absolute;
    transition: all .2s;
    opacity: 0;
}

.trash-icon{
    right: -4.5em;
    bottom: 5%;
}

.flip-card-icon{
    right: -4.5em;
    top: 5%;
    transform-style: preserve-3d;
    opacity: 0;
}

.favorite-icon{
    right: 0.5em;
    top: 5%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    
    opacity: 0;
}

.correct-icon{
    left: 40%;
    bottom: 5%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    opacity: 0;
}

.incorrect-icon{
    left: 50%;
    bottom: 5%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    opacity: 0;
}


ul#flashCardContainer li:hover .icons{
    opacity: 1;
}

ul#flashCardContainer{
    list-style-type: none;
    padding:0;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;

    width: 100%;
    
}

ul#flashCardContainer li{
    transform-style: preserve-3d;
    perspective: 1200px;
    position: absolute;
    width: 36em;
    height: 18em;
    transition: all 0.8s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

li .flashCard{
    position: absolute;
    width: 100%;
    height: 100%;
    
    
    border: 1px solid #CCC; 
    perspective: 800px;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    box-shadow: 0px 9px 7px 1px rgb(0 0 0 / 48%);

}

li .flashCard.flipped{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    
}

li .flashCard *{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    
    
}

li .flashCard .cardFront, li .flashCard .cardBack{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 2.5em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

li .flashCard .cardFront{
    background-color: #fff;
    background-image:
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% .5em;
}

li .flashCard .cardBack{
    background-color: #CCC;
    
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}


#cardFront div, #cardBack div{
    max-width: 90%;
}

.nudgeRight{
    margin-right: -40em;
}