.flip-card{
    width: 1em;
    height: 1em;
    position: absolute;
    right: 0px;
    top: 0px;
}

ul#flashCardContainer{
    list-style-type: none;
    padding:0;
    margin: 0;
    transform-style: preserve-3d;
    perspective: 800px;
    cursor: pointer;
    
}

li.flashCard{
    width: 36em;
    height: 18em;
    margin: 2em;
    background-color: white;
    border: 1px solid #CCC; 
    perspective: 800px;
    transform-style: preserve-3d;
    position: relative;
    transition: transform 0.8s;
    box-shadow: 0px 9px 7px 1px rgb(0 0 0 / 48%);
    background-color: #fff;
    background-image:
    
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

li.flashCard.flipped{
    transform: rotateY(180deg);
}

li.flashCard *{
    backface-visibility: hidden;
}

li.flashCard .cardFront, li.flashCard .cardBack{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 3em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

li.flashCard .cardFront{

}

li.flashCard .cardBack{
    background-color: #CCC;
    transform: rotateY(180deg);
}