body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  max-width: 1440px;
}

#states{
  width:300px;
}

#states >:nth-child(2n+1){
  background-color: #CCCCCC;
}

#states li{
  padding: .5em;
  display: flex;
  flex-direction: row;
  transition: .5s all;
  border: 0px solid white;
}

#states li:focus-within{
  padding: 2em;
  border: 1px solid black;
  background-color: yellow;
}

#states li div{
  width: 200px;
}